.box1 {
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}

.box2 {
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}

.box3 {
  display: none;
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}

.box4 {
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}

.box5 {
  display: none;
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}

.box6 {
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}

.box7 {
  display: none;
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}

.box8 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}

.box9 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}

.box9-ext {
  border: 10px solid black;
}

.box10 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}

.box10-ext {
  border: 10px solid black;
}

.box11 {
  background-color: #FFFFFF;
  height: 200px;
  width: 200px;
  float: left;
}

.bg1 {
  background-color: #FFAAAA;
}

.bg2 {
  background-color: #FFBBBB;
}

.bg3 {
  background-color: #FFCCCC;
}

.bg4 {
  background-color: #FFDDDD;
}